
body {
    background-color: #f8f9fa; 
}

.container {
    margin-top: 50px;
}

h2 {
    margin-bottom: 30px; 
}

.card {
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}

.btn-primary {
    background-color: #007bff; 
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3; 
}

.text-danger {
    margin-top: 15px; 
}



body {
    background-image: url('../assets/image.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0; 
}




